= form_tag clinics_path, method: :get, class: "navbar-form", role: "search" do
  .input-group
    = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Clinics"
    .input-group-btn
      %button.btn.btn-default{:style => "width:40px;"}
        %i.glyphicon.glyphicon-search


.col-md-12
  .col-md-4.col-md-offset-4
    .jumbotron
      .text-center
        %strong
          %h3
            %u
              Clinics
            %br
          = link_to "Add New Clinic", new_clinic_path
          %br
/ %p{class: "text-left"}
.row
  - @clinics.each do |clinic|
    .col-md-4.text-center
      .list-group-item
        %strong
          Clinic Name:
        = link_to clinic.name, clinic_path(clinic)
        %br
        = link_to "Edit Clinic", edit_clinic_path(clinic)
        |
        = link_to "Delete Clinic", clinic_path(clinic), method: :delete
      %br
